In [18]:
# First we'll import the os module
# This will allow us to create file paths across operating systems
import os
import seaborn
import pandas as pd

# File to Load
file_to_load = "Resources/globalterrorism.csv"

# Read Purchasing File and store into Pandas data frame
terror_data = pd.read_csv(file_to_load, encoding = "ISO-8859-1", low_memory=False)
terror_data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [9]:
import pandas as pd

terror_df = pd.read_csv("Resources/globalterrorism.utf-8.csv", low_memory=False)

terror_df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [30]:
terror_data_groupby = terror_data.groupby(["iyear", "country", "country_txt"])
terror_data_groupby.count()

                                                eventid  imonth  iday  \
iyear country country_txt
1970  11      Argentina                              21      21    21
      14      Australia                               1       1     1
      21      Belgium                                 1       1     1
      26      Bolivia                                 1       1     1
      30      Brazil                                  6       6     6
      38      Canada                                  2       2     2
      45      Colombia                                1       1     1
      58      Dominican Republic                      2       2     2
      60      Egypt                                   1       1     1
      65      Ethiopia                                3       3     3
      78      Greece                                  3       3     3
      83      Guatemala                               4       4     4
      94      Iran                                    5       5     5
      96      Ireland                                 1       1     1
      98      Italy                                   3       3     3
      101     Japan                                   2       2     2
      102     Jordan                                  9       9     9
      110     Lebanon                                 1       1     1
      130     Mexico                                  2       2     2
      142     Netherlands                             3       3     3
      145     Nicaragua                               1       1     1
      153     Pakistan                                1       1     1
      158     Paraguay                                1       1     1
      160     Philippines                            10      10    10
      185     Spain                                   4       4     4
      199     Switzerland                             3       3     3
      209     Turkey                                 12      12    12
      217     United States                         468     468   468
      218     Uruguay                                33      33    33
      222     Venezuela                               2       2     2
...                                                 ...     ...   ...
2017  167     Russia                                 33      33    33
      168     Rwanda                                  2       2     2
      173     Saudi Arabia                           54      54    54
      177     Sierra Leone                            3       3     3
      182     Somalia                               614     614   614
      183     South Africa                           29      29    29
      185     Spain                                   4       4     4
      186     Sri Lanka                              41      41    41
      195     Sudan                                 106     106   106
      198     Sweden                                 18      18    18
      200     Syria                                 243     243   243
      201     Taiwan                                  1       1     1
      202     Tajikistan                              2       2     2
      203     Tanzania                                6       6     6
      205     Thailand                              179     179   179
      208     Tunisia                                 4       4     4
      209     Turkey                                181     181   181
      213     Uganda                                 13      13    13
      214     Ukraine                                61      61    61
      217     United States                          65      65    65
      222     Venezuela                              17      17    17
      223     Vietnam                                 2       2     2
      228     Yemen                                 226     226   226
      229     Democratic Republic of the Congo      143     143   143
      230     Zambia                                  2       2     2
      231     Zimbabwe                                3       3     3
      603     United Kingdom                        122     122   122
      1001    Serbia                                  1       1     1
      1003    Kosovo                                  8       8     8
      1004    South Sudan                            54      54    54

                                                approxdate  extended  \
iyear country country_txt
1970  11      Argentina                                  0        21
      14      Australia                                  0         1
      21      Belgium                                    0         1
      26      Bolivia                                    0         1
      30      Brazil                                     0         6
      38      Canada                                     0         2
      45      Colombia                                   0         1
      58      Dominican Republic                         0         2
      60      Egypt                                      0         1
      65      Ethiopia                                   0         3
      78      Greece                                     0         3
      83      Guatemala                                  0         4
      94      Iran                                       0         5
      96      Ireland                                    0         1
      98      Italy                                      0         3
      101     Japan                                      0         2
      102     Jordan                                     0         9
      110     Lebanon                                    0         1
      130     Mexico                                     0         2
      142     Netherlands                                0         3
      145     Nicaragua                                  0         1
      153     Pakistan                                   0         1
      158     Paraguay                                   0         1
      160     Philippines                                0        10
      185     Spain                                      0         4
      199     Switzerland                                0         3
      209     Turkey                                     0        12
      217     United States                              6       468
      218     Uruguay                                    0        33
      222     Venezuela                                  0         2
...                                                    ...       ...
2017  167     Russia                                     0        33
      168     Rwanda                                     0         2
      173     Saudi Arabia                               8        54
      177     Sierra Leone                               2         3
      182     Somalia                                   55       614
      183     South Africa                               3        29
      185     Spain                                      0         4
      186     Sri Lanka                                  0        41
      195     Sudan                                      4       106
      198     Sweden                                     1        18
      200     Syria                                     27       243
      201     Taiwan                                     0         1
      202     Tajikistan                                 0         2
      203     Tanzania                                   0         6
      205     Thailand                                   1       179
      208     Tunisia                                    0         4
      209     Turkey                                    21       181
      213     Uganda                                     1        13
      214     Ukraine                                    7        61
      217     United States                              0        65
      222     Venezuela                                  1        17
      223     Vietnam                                    0         2
      228     Yemen                                     40       226
      229     Democratic Republic of the Congo          17       143
      230     Zambia                                     0         2
      231     Zimbabwe                                   0         3
      603     United Kingdom                             3       122
      1001    Serbia                                     0         1
      1003    Kosovo                                     0         8
      1004    South Sudan                               11        54

                                                resolution  region  \
iyear country country_txt
1970  11      Argentina                                  2      21
      14      Australia                                  0       1
      21      Belgium                                    0       1
      26      Bolivia                                    1       1
      30      Brazil                                     3       6
      38      Canada                                     2       2
      45      Colombia                                   0       1
      58      Dominican Republic                         1       2
      60      Egypt                                      0       1
      65      Ethiopia                                   2       3
      78      Greece                                     0       3
      83      Guatemala                                  2       4
      94      Iran                                       0       5
      96      Ireland                                    0       1
      98      Italy                                      0       3
      101     Japan                                      1       2
      102     Jordan                                     5       9
      110     Lebanon                                    0       1
      130     Mexico                                     0       2
      142     Netherlands                                1       3
      145     Nicaragua                                  1       1
      153     Pakistan                                   0       1
      158     Paraguay                                   0       1
      160     Philippines                                0      10
      185     Spain                                      1       4
      199     Switzerland                                1       3
      209     Turkey                                     0      12
      217     United States                              1     468
      218     Uruguay                                    4      33
      222     Venezuela                                  0       2
...                                                    ...     ...
2017  167     Russia                                     0      33
      168     Rwanda                                     0       2
      173     Saudi Arabia                               0      54
      177     Sierra Leone                               0       3
      182     Somalia                                    0     614
      183     South Africa                               0      29
      185     Spain                                      0       4
      186     Sri Lanka                                  0      41
      195     Sudan                                      0     106
      198     Sweden                                     0      18
      200     Syria                                      0     243
      201     Taiwan                                     0       1
      202     Tajikistan                                 0       2
      203     Tanzania                                   0       6
      205     Thailand                                   0     179
      208     Tunisia                                    0       4
      209     Turkey                                     0     181
      213     Uganda                                     0      13
      214     Ukraine                                    0      61
      217     United States                              0      65
      222     Venezuela                                  0      17
      223     Vietnam                                    0       2
      228     Yemen                                      0     226
      229     Democratic Republic of the Congo           0     143
      230     Zambia                                     0       2
      231     Zimbabwe                                   0       3
      603     United Kingdom                             0     122
      1001    Serbia                                     0       1
      1003    Kosovo                                     0       8
      1004    South Sudan                                0      54

                                                region_txt  provstate  city  \
iyear country country_txt
1970  11      Argentina                                 21         21    21
      14      Australia                                  1          1     1
      21      Belgium                                    1          1     1
      26      Bolivia                                    1          1     1
      30      Brazil                                     6          6     6
      38      Canada                                     2          2     2
      45      Colombia                                   1          1     1
      58      Dominican Republic                         2          1     2
      60      Egypt                                      1          1     1
      65      Ethiopia                                   3          3     3
      78      Greece                                     3          3     3
      83      Guatemala                                  4          4     4
      94      Iran                                       5          5     5
      96      Ireland                                    1          1     1
      98      Italy                                      3          3     3
      101     Japan                                      2          1     2
      102     Jordan                                     9          9     9
      110     Lebanon                                    1          1     1
      130     Mexico                                     2          2     2
      142     Netherlands                                3          3     3
      145     Nicaragua                                  1          1     1
      153     Pakistan                                   1          1     1
      158     Paraguay                                   1          1     1
      160     Philippines                               10         10    10
      185     Spain                                      4          4     4
      199     Switzerland                                3          3     3
      209     Turkey                                    12         12    12
      217     United States                            468        468   468
      218     Uruguay                                   33         33    33
      222     Venezuela                                  2          2     2
...                                                    ...        ...   ...
2017  167     Russia                                    33         33    33
      168     Rwanda                                     2          2     2
      173     Saudi Arabia                              54         54    54
      177     Sierra Leone                               3          3     3
      182     Somalia                                  614        614   614
      183     South Africa                              29         29    29
      185     Spain                                      4          4     4
      186     Sri Lanka                                 41         41    41
      195     Sudan                                    106        106   106
      198     Sweden                                    18         18    18
      200     Syria                                    243        243   243
      201     Taiwan                                     1          1     1
      202     Tajikistan                                 2          2     2
      203     Tanzania                                   6          6     6
      205     Thailand                                 179        179   179
      208     Tunisia                                    4          4     4
      209     Turkey                                   181        181   181
      213     Uganda                                    13         13    13
      214     Ukraine                                   61         61    61
      217     United States                             65         63    65
      222     Venezuela                                 17         17    17
      223     Vietnam                                    2          2     2
      228     Yemen                                    226        226   226
      229     Democratic Republic of the Congo         143        143   143
      230     Zambia                                     2          2     2
      231     Zimbabwe                                   3          3     3
      603     United Kingdom                           122        122   122
      1001    Serbia                                     1          1     1
      1003    Kosovo                                     8          8     8
      1004    South Sudan                               54         54    54

                                                 ...     addnotes  scite1  \
iyear country country_txt                        ...
1970  11      Argentina                          ...            0       0
      14      Australia                          ...            0       0
      21      Belgium                            ...            0       0
      26      Bolivia                            ...            0       0
      30      Brazil                             ...            0       0
      38      Canada                             ...            0       0
      45      Colombia                           ...            0       0
      58      Dominican Republic                 ...            0       0
      60      Egypt                              ...            0       0
      65      Ethiopia                           ...            0       0
      78      Greece                             ...            0       0
      83      Guatemala                          ...            0       0
      94      Iran                               ...            0       0
      96      Ireland                            ...            0       0
      98      Italy                              ...            0       0
      101     Japan                              ...            0       0
      102     Jordan                             ...            0       0
      110     Lebanon                            ...            0       0
      130     Mexico                             ...            0       0
      142     Netherlands                        ...            0       0
      145     Nicaragua                          ...            0       0
      153     Pakistan                           ...            0       0
      158     Paraguay                           ...            0       0
      160     Philippines                        ...            0       0
      185     Spain                              ...            0       0
      199     Switzerland                        ...            0       0
      209     Turkey                             ...            0       0
      217     United States                      ...          301     386
      218     Uruguay                            ...            0       0
      222     Venezuela                          ...            0       0