In [2]:
# First we'll import the os module
# This will allow us to create file paths across operating systems
import os
import seaborn
import pandas as pd
import matplotlib.pyplot as plt
from techline import techline, histo, attack_type, cntry_year, year_gang

# File to Load
file_to_load = "Resources/globalterrorism.csv"

# Read Purchasing File and store into Pandas data frame
terror_data = pd.read_csv(file_to_load, encoding = "ISO-8859-1", low_memory=False)
terror_data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [22]:
terror_data_groupby = terror_data.groupby(["iyear"])
terror_data_year = terror_data_groupby.count()

terror_data_year.head()

,eventid,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
iyear,,,,,,,,,,,,,,,,,,,,,
1970,651,651,651,6,651,29,651,651,651,651,...,301,386,317,204,651,651,651,651,651,89
1971,471,471,471,6,471,7,471,471,471,471,...,121,139,125,75,471,471,471,471,471,27
1972,568,568,568,2,568,8,568,568,568,568,...,40,116,94,67,568,568,568,568,568,94
1973,473,473,473,0,473,30,473,473,473,473,...,18,28,28,13,473,473,473,473,473,15
1974,581,581,581,2,581,19,581,581,581,581,...,35,49,49,29,581,581,581,581,581,35

In [ ]:
tech_data=techline()

f=histo(terror_data, tech_data)
plt.show()
plt.savefig("tech_histo.png")

f=attack_type(terror_data)
f.show()
plt.savefig("attack_type.png")

f=cntry_year(terror_data)
f.show()
plt.savefig("country_year.png")

f=year_gang(terror_data)
f.show()
plt.savefig("year_gang.png")